<footer>
<!--    <div id="footer-top">
        <div class="container">
            <div class="social-media">
                <ul>
                    <li class="connecttxt"><h3>Connect with</h3><img src="./assets/img/footer-logo.png"></li>
                    <li class="facebook"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                    <li class="googleplus"><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="twitter"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                    <li class="youTube"><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>-->
<!--    <div id="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="foo-inner-col">
                        <h4>Categories </h4>
                        <div class="col-xs-6">
                            <ul>
                                <li class="prayer-timing"><a href="javascript:void(0)">Prayer Timings</a></li>
                                <li class="child-care"><a href="javascript:void(0)">Child Care</a></li>
                                <li class="education"><a href="javascript:void(0)">Education</a></li>
                                <li class="trades"><a href="javascript:void(0)">Trades</a></li>
                                <li class="halal-products"><a href="javascript:void(0)">Halal Products</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul>
                                <li class="mosques"><a href="javascript:void(0)">Mosques</a></li>
                                <li class="restaurants"><a href="javascript:void(0)">Restaurants</a></li>
                                <li class="hotels"><a href="javascript:void(0)">Hotels</a></li>
                                <li class="travel-agents"><a href="javascript:void(0)">Travel Agents</a></li>
                                <li class="shops"><a href="javascript:void(0)">Shops</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="foo-inner-col">
                        <div class="col-sm-6">
                            <h4>Help Center </h4>
                            <ul>
                                <li class="about-us"><a href="javascript:void(0)">About US</a></li>
                                <li class="safety-tips"><a href="javascript:void(0)">Safety Tips</a></li>
                                <li class="contact-us"><a href="javascript:void(0)">Contact Us</a></li>
                                <li class="faq"><a href="javascript:void(0)">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>Legal information</h4>
                            <ul>
                                <li class="terms-of-use"><a href="javascript:void(0)">Terms of Use</a></li>
                                <li class="privacy-policy"><a href="javascript:void(0)">Privacy Policy</a></li>
                                <li class="legal-notice"><a href="javascript:void(0)">T&C and Legal Notices</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="foo-inner-col">
                        <h4>Newsletter</h4>
                        <div class="newsletter">
                            Stay up to date with our latest news releases by signing up to our newsletter.
                            <form>
                                <input type="email" placeholder="Your Email">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div id="footer-bottom">
        <div class="container">
            Copyright 2017 © <a href="javscript:void(0)">Site.com</a>
        </div>
    </div>

</footer>


<!-- login popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/front/img/icons/close-btn.png" alt="close-buton">
            </button>
            <div class="modal-body">
                <div class="sign-in-sec">
                    <a class="facebook" href="javascript:void(0)">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Sign In With Facebook
                    </a>
                    <a class="google" href="javascript:void(0)">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        Sign In With Google+
                    </a>
                </div>
                <div class="or">
                    <span>or</span>
                </div>
                <div class="signin-form">
                    <form>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="email" placeholder="Password" required="required">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="LogIn" class="submit-btn">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <a href="javascript:void(0)">
                                    <label>Forgot Password?</label>
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- login popup -->

<!-- register popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="register-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/front/img/icons/close-btn.png" alt="close-buton">
            </button>
            <div class="modal-body">
                <div class="sign-in-sec">
                    <a class="facebook" href="javascript:void(0)">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Sign Up With Facebook
                    </a>
                    <a class="google" href="javascript:void(0)">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        Sign Up With Google+
                    </a>
                </div>
                <div class="or">
                    <span>or</span>
                </div>
                <div class="signin-form">
                    <form>


                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="email" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" name="email" placeholder="Confirm Password" required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Sign UP" class="submit-btn">
                        </div>
                        <div class="form-group">
                            <a href="#">Terms & Conditions</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- login popup -->


<!-- register popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="query-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/front/img/icons/close-btn.png" alt="close-buton">
            </button>
            <div class="modal-header text-center"> <h4 class="modal-title">Send Message</h4> </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" placeholder="Send us a message..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="" value="Send Message" class="btn btn-green">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- login popup -->

<!-- register popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="SaveSearchModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content savesearchMdoalCont">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <img src="/front/img/icons/close-btn.png" alt="close-buton">
            </button>

            <div class="modal-body">
                <div class="savesearchData">
                    <h3>Saved Search Name</h3>
                    <div class="savedvalue">
                        Car in Melbourne
                    </div>
                    <h4>Email these Search result: </h4>
                    <ul class="EmailTime">

                        <li>
                            <input id="Amount" name="price" value=""  type="radio">
                            <label for="Amount">Immediately</label>

                        </li>
                        <li>
                            <input id="Negotiable" name="price" value=""  type="radio">
                            <label for="Negotiable">Daily</label>

                        </li>
                        <li>
                            <input id="Free" name="price" value=""  type="radio">
                            <label for="Free">Weekely</label>

                        </li>
                        <li>
                            <input id="Never" name="price" value=""  type="radio">
                            <label for="Never">Never</label>

                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <button type="button" name="button" class="btn orangebtn">Save This Search</button>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <button type="button" name="button" class="btn graybtn">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- login popup -->


<!-- popup script only -->
<script type="text/javascript">
    $("a#signin").click(function () {
        //alert("call login popup");
        $('#login-modal').modal('show');
    });
    $("a#signup").click(function () {
        $('#register-modal').modal('show');
    });
    $("#login-modal a#signup").click(function () {
        $('#login-modal').modal('hide');
        setTimeout(function () {
            $('#register-modal').modal('show');
        }, 500);
    });

    $("#query-button").click(function () {
        $('#query-modal').modal('show');
    });

    $(".savesearch-link a").click(function () {
        $('#SaveSearchModal').modal('show');
    });
</script>
