<div class="header-topbar">
    <div class="container">
        <div class="header-topbar-left">
            <ol class="breadcrumb">
                <li><a href="headers-google-map.html#">Home</a></li>
                <li><a href="headers-google-map.html#">Properties</a></li>
                <li class="active">Wardrobe Street</li>
            </ol>
        </div><!-- /.header-topbar-left -->

        <div class="header-topbar-right">
            <ul class="header-topbar-links">
                <li><a href="javascript:void(0);"><img src="/front/img/flags/fr.png" alt="French"> Registration</a></li>
                <li><a href="javascript:void(0);"><img src="/front/img/flags/de.png" alt="Deutsch"> Login</a></li>
            </ul><!-- /.header-topbar-links -->

            <ul class="header-topbar-social ml30">
                <li><a href="headers-google-map.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="headers-google-map.html#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="headers-google-map.html#"><i class="fa fa-twitter"></i></a></li>
            </ul><!-- /.header-topbar-social -->
        </div><!-- /.header-topbar-right -->
    </div><!-- /.container -->
</div>