<!DOCTYPE html> 
<html>
    <head>
        <title>formee</title>
        <% include ../element/css.ejs %>
        <% include ../element/head.ejs %>
    </head>

    <body>
        <header>
            <% include ../element/top-bar %>
        </header>

        <div id="middle">
            
            <%- body %>
           
        </div>

        <% include ../element/footer %>

        <% include ../element/js.ejs %>
        

        <script>
            $(function(){
            <% if (messages.type_messages_front){ %>
                    bootstrapNotify.showMessage('<%= messages.messages_front %>', '<%= messages.type_messages_front %>');
                    <% } %>
            });
        </script>
        <%- script %>

    </body>

</html>
